EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=186668101668-uhnaohj05pfv7i3h4o9grau63avb8j9a.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=186668101668-d2preo1to754tg8edidaod4v1lfp8gvu.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your-ios-oauth-client-id.apps.googleusercontent.com